@import "./../../../../../sass/_vars.scss";

.app__car-info-component {
  box-shadow: 0 -1px 5px -2px #ccc;
  overflow: hidden;
  transform-origin: 0 100%;
  transition: all 0.3s ease-in-out;
  transform: scaleY(0);

  &.show {
    transform: scaleY(1);
  }

  &_item-box {
    background: #fff;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    padding: 20px;
    width: 100%;
    @media screen and (min-width: 640px) {
      flex-wrap: nowrap;
      height: 160px;
    }
  }
}
