@import "./../../../../../sass/_vars.scss";

.app__car-info-component_item {
  border-right: 1px solid #8a95aa;
  border-bottom: 1px solid #8a95aa;
  display: flex;
  flex-direction: column;
  flex: 50%;
  justify-content: center;
  padding: 10px;
  &:nth-child(2n) {
    border-right: none;
  }
  &:nth-child(n + 3) {
    border-bottom: none;
  }

  @media screen and (min-width: 640px) {
    border: none;
    border-right: 1px solid #8a95aa;
    flex: 1 0 0%;
    justify-content: flex-end;

    &:nth-child(2n) {
      border: none;
      border-right: 1px solid #8a95aa;
    }
    &:nth-child(n + 3) {
      border: none;
      border-right: 1px solid #8a95aa;
    }
  }

  &:last-of-type {
    border-right: none;
  }

  [class^="icon-"] {
    color: #8a95aa;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
  }

  .likes-box {
    display: flex;
    justify-content: center;

    p {
      padding-left: 10px;
      padding-right: 10px;
    }

    [class^="icon-"] {
      font-size: 14px;
    }
  }

  p {
    color: #2d2d2d;
    font-family: $robotoBold;
    font-size: 14px;
    margin: 0;
    text-align: center;
  }
  span {
    color: #8a95aa;
    display: block;
    font-family: $roboto;
    font-size: 13px;
    padding: 5px 0;
    text-transform: capitalize;
  }
}
