.btn-more {
  background: #4948ac;
  border-radius: 30px;
  font-size: 18px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  &.purple {
    background: #4948ac;
    color: #fff;
  }

  &.orange {
    background: #ff7949;
    color: #fff;
  }
  &.light-blue {
    background: #1CB9F5;
    color: #fff;
  }

  &.yellow {
    background: #ffd300;
    color: #fff;
  }
}
