@font-face {
  font-family: "icomoon";
  src: url("~assets/fonts/icomoon.eot?1ji3d7");
  src: url("~assets/fonts/icomoon.eot?1ji3d7#iefix") format("embedded-opentype"),
    url("~assets/fonts/icomoon.ttf?1ji3d7") format("truetype"),
    url("~assets/fonts/icomoon.woff?1ji3d7") format("woff"),
    url("~assets/fonts/icomoon.svg?1ji3d7#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.app {
  [class^="icon-"],
  [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-back:before {
    content: "\e90d";
  }
  .icon-bento:before {
    content: "\e900";
  }
  .icon-car:before {
    content: "\e901";
  }
  .icon-code:before {
    content: "\e902";
  }
  .icon-discount:before {
    content: "\e903";
  }
  .icon-dislikes:before {
    content: "\e904";
  }
  .icon-engine:before {
    content: "\e905";
  }
  .icon-home:before {
    content: "\e906";
  }
  .icon-Icon-open-grid-four-up:before {
    content: "\e907";
  }
  .icon-likes:before {
    content: "\e908";
  }
  .icon-options:before {
    content: "\e909";
  }
  .icon-passenger:before {
    content: "\e90a";
  }
  .icon-speed:before {
    content: "\e90b";
  }
  .icon-transmission:before {
    content: "\e90c";
  }
}
