@font-face {
  font-family: "Roboto";
  src: url("~assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("~assets/fonts/Roboto-Regular.woff") format("woff"),
    url("~assets/fonts/Roboto-Regular.ttf") format("truetype"),
    url("~assets/fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoThin";
  src: url("~assets/fonts/Roboto-Thin.woff2") format("woff2"),
    url("~assets/fonts/Roboto-Thin.woff") format("woff"),
    url("~assets/fonts/Roboto-Thin.ttf") format("truetype"),
    url("~assets/fonts/Roboto-Thin.svg#Roboto-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoBold";
  src: url("~assets/fonts/Roboto-Bold.woff2") format("woff2"),
    url("~assets/fonts/Roboto-Bold.woff") format("woff"),
    url("~assets/fonts/Roboto-Bold.ttf") format("truetype"),
    url("~assets/fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoLight";
  src: url("~assets/fonts/Roboto-Light.woff2") format("woff2"),
    url("~assets/fonts/Roboto-Light.woff") format("woff"),
    url("~assets/fonts/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
