.app_filter {
  background: #fff;
  box-shadow: 0 0 4px -2px #000;
  margin-bottom: 10px;
  padding: 10px;

  label {
    display: block;
    margin-bottom: 10px;
  }
}
.navbar-nav .nav-link {
  border: none;
  background: none;
}
