@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.carroucel_component {
  padding: 15px 0;
  
  .slick-track {
    padding-bottom: 10px;
  }
  .slick-arrow {
    background: #ccc;
    display: block;
    height: 100%;
    width: 40px;
    z-index: 10;
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
  .slick-slide > div {
    transition: all 0.3s ease-in-out;
  }
  .center .slick-center > div {
    color: #e67e22;
    opacity: 1;
    -ms-transform: scale(1.08);
    transform: scale(1.08);
  }
}
