.app__sidebar {
  box-shadow: 2px 0 5px -2px #ccc;
  background: #f0f0f9;
  left: -265px;
  height: 100vh;
  padding-bottom: 20px;
  position: fixed;
  transition: all 0.5s ease-in-out;
  width: 260px;
  z-index: 30;

  &.active {
    left: 0;
  }

  @media screen and (min-width: 992px) {
    min-height: 100vh;
    left: 0;
    position: static;
    z-index: 15;
  }

  > nav {
    height: calc(100vh - 166px);
    overflow-y: scroll;
    padding-bottom: 20px;
    @media screen and (min-width: 992px){
      overflow: auto;
    }
  }

  &_logotype {
    padding: 30px 15px 30px;
    img {
      display: block;
      max-width: 100px;
      margin: 0 auto;
    }
  }

  &_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 15px;
  }
  &_menu-item {
    margin-bottom: 15px;

    .icon {
      display: block;
      left: 25px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    a,
    button {
      border: none;
      background: none;
      color: #818a9e;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px 15px 10px 60px;
      position: relative;
      text-align: left;
      text-decoration: none;
      transition: all 0.3s ease;
      width: 100%;
      &.active {
        border-radius: 0 10px 10px 0;
        background: #1cb9f5;
        color: #fff;
        position: relative;
        &::before {
          border-radius: 0 10px 10px 0;
          background: #fff;
          content: "";
          display: block;
          height: 70%;
          left: 0;
          position: absolute;
          width: 5px;
        }
      }
    }
  }

  &_user-info {
    text-align: center;
    p {
      font-size: 14px;
    }
  }
  &_user-info_avatar {
    border: 2px solid #b1b1b1;
    border-radius: 100%;
    display: block;
    height: 60px;
    margin: 0 auto 15px;
    overflow: hidden;
    width: 60px;
    img {
      display: block;
      width: 100%;
    }
  }
}
