body {
  background: #fff;
  font-family: "Roboto", sans-serif;
}
#root {
  @media screen and (min-width: 992px) {
    display: flex;
    min-height: 100vh;
  }
}
.app__content {
  flex: 1;
  min-height: inherit;
  overflow: hidden;
  padding-top: 65px;
  width: 100%;

  &.has-error {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
  }

  &_body.is-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 65px);
  }
}

html,
body,
#root {
  min-height: 100vh;
}
