@import "./../../../../sass/vars";

.app__votes-component {
  display: flex;
  justify-content: center;

  p {
    padding-left: 10px;
    padding-right: 10px;
  }

  i[class^="icon-"] {
    color: #8a95aa;
    font-size: 18px;
    font-family: $robotoBold;
    margin-bottom: 10px;
    text-align: center;
  }

  &_btn {
    background: none;
    border: none;

    > i {
      padding: 5px;
    }
    &.active {
      > i {
        color: #4947ff;
      }
    }
  }
}
