@import "../../../../sass/vars";
//
.app__car-quoter {
  &_price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;

    p {
      background: #fff;
      border-radius: 40px;
      color: #000;
      display: block;
      max-width: 80%;
      margin: 0 auto 10px;
      padding: 10px;
    }
    .price_value {
      display: none;
      @media screen and (min-width: 800px) {
        display: block;
      }
      strong {
        font-size: 35px;
      }
    }

    &.mobile {
      margin: 0;
      .price_value {
        display: block;
        margin: 0 auto;
      }
      @media screen and (min-width: 800px) {
        display: none;
      }
      p {
        font-size: 18px;
      }
    }
  }
}
