@import "../../../../sass/vars";
.app__options_box {
  margin-bottom: 10px;
}

.app__options {
  margin-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;

  &_title {
    font-size: 18px;
    font-family: $robotoBold;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  //
  &_items {
    display: block;
    list-style: none;
    padding: 0;
  }
  &_items_one {
    font-size: 18px;
    float: left;
    padding: 5px;
    text-align: center;
  }
  &_items_one-btn {
    background: none;
    border: 1px solid #cdcdd8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    width: 100px;
    &.active {
      background: #1cb9f5;
      color: #fff;
    }
    @media screen and (min-width: 768px) {
      height: 120px;
      width: 120px;
    }
    @media screen and (min-width: 1200px) {
      height: 120px;
      width: 120px;
    }
  }
  &_items_one_title {
    font-size: 16px;
    font-family: $roboto;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
  }
  &_items_one_img {
    img {
      display: block;
      margin: 0 auto;
      max-width: 80%;
    }
  }
  &_items_one_price {
    font-size: 14px;
    font-family: $robotoThin;
    text-align: center;
  }
}
