@import "./../../../../sass/vars";
.app__title-component {
  margin-bottom: 25px;
  text-align: center;

  &.text-left {
    text-align: left;
    h1 {
      text-align: inherit;
      &::after {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &.text-center {
    text-align: center;
    h1 {
      text-align: inherit;
    }
  }

  h1 {
    color: #1d1d1d;
    font-size: 20px;
    font-family: $robotoLight;
    margin: 0;
    @media screen and (min-width: 768) {
      font-size: 30px;
    }
    &::after {
      border-bottom: 1px dotted #8a95aa;
      content: "";
      display: block;
      max-width: 300px;
      margin: 0 auto 5px;
      padding-top: 5px;
    }
  }
  strong {
    color: #313563;
    font-size: inherit;
    font-family: $robotoBold;
  }
  .leyend {
    color: #8a95aa;
    font-family: $robotoThin;
    margin: 0;
  }
}
