@import "./../../../../sass/vars";

.car-detail-page {
  .app__header {
    background: #1cb9f5;
  }

  @media screen and (min-width: 800px) {
    .app__header {
      background: none;
    }
  }
  .btn-back {
    color: #fff;
  }
  .app__header_hamburger-btn .hamburger-inner,
  .app__header_hamburger-btn .hamburger-inner:after,
  .app__header_hamburger-btn .hamburger-inner:before {
    background-color: #fff;
  }
}

.center .slick-center > div {
  .card-car-component__body {
    background: #e2edff;
  }
}

.app__car-detail {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 800px) {
    min-height: calc(100vh - 65px);
    padding-left: 25px;
    padding-right: 0;
  }

  //
  &_content {
    display: flex;
    flex-direction: column-reverse;
    margin-left: -15px;
    margin-right: -15px;

    @media screen and (min-width: 800px) {
      display: flex;
      flex-direction: row;
      margin-left: 0;
      margin-right: 0;
      min-height: calc(100vh - 65px);
    }
  }

  &_price {
    display: flex;
    margin: 0 auto 45px;
    justify-content: center;

    @media screen and (min-width: 800px) {
      margin: 0 0 25px;
    }

    p {
      color: #8a95aa;
      font-family: $robotoLight;
      font-size: 16px;
      margin: 0;
      padding: 0 30px 0 0;
      text-transform: capitalize;
      strong {
        color: #1d1d1d;
        display: block;
        font-family: $robotoBold;
      }
      &:last-of-type {
        padding: 0;
      }
    }
    .price_value {
      strong {
        font-size: 35px;
      }
    }
    .price_discount {
      strong {
        font-size: 20px;
      }
    }
    &.mobile {
      margin: 0;
      @media screen and (min-width: 800px) {
        margin: 0;
      }
    }
  }

  &_image-box {
    background: #1cb9f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -65px;
    margin-bottom: 25px;
    padding-top: 50px;
    width: 100%;

    @media screen and (min-width: 800px) {
      min-height: 100vh;
      margin-bottom: 0;
      padding-top: 0;
      width: 80%;
    }

    &_fixed {
      @media screen and (min-width: 800px) {
        position: fixed;
        right: 0;
        transform: translateY(-50%);
        top: 50%;
        width: calc(70% - 260px);
        z-index: 1;
      }
      @media screen and (min-width: 970px) {
        width: calc(60% - 260px);
      }
      @media screen and (min-width: 990px) {
        width: calc(54% - 260px);
      }
      @media screen and (min-width: 1200px) {
        width: calc(50% - 260px);
      }
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &_image {
    margin: 0 auto;
    position: relative;
    width: 90%;

    @media screen and (min-width: 800px) {
      left: -20%;
      margin: 0;
      width: 120%;
    }
  }

  &_body {
    padding: 0 15px 66px;
    width: 100%;
    @media screen and (min-width: 800px) {
      padding-bottom: 0;
      padding-right: 12%;
    }
  }

  &_info {
    h4.subtitle {
      color: #1cb9f5;
      font-size: 18px;
      font-family: $robotoBold;
      margin-bottom: 15px;
    }
  }
  &_info-description {
    * {
      font-family: $robotoLight;
      font-size: 14px;
    }
    padding: 20px 0;
  }
  &_info-features {
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;

    > div {
      border-bottom: 2px solid #f7f7f7;
      border: none;
      flex: 33.333% 1;
      height: 120px;
      width: 120px;

      &:nth-child(1n + 1) {
        border-bottom: 2px solid #f7f7f7;
        border-right: 2px solid #f7f7f7;
        border-top: none;
      }

      @media screen and (min-width: 350px) {
        &:nth-child(1n) {
          border-right: 2px solid #f7f7f7;
        }
        &:nth-child(2n + 3) {
          border-right: none;
        }
      }
    }
  }

  &_fixed-btn-box {
    background: #fff;
    box-shadow: 0px 7px 8px 6px #00000059;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 28;
    @media screen and (min-width: 800px) {
      box-shadow: none;
      margin-bottom: 35px;
      position: static;
    }
  }

  &_fixed-btn {
    border: none;
    background: #1cb9f5;
    color: #fff;
    display: block;
    font-family: $robotoBold;
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
    width: 100%;

    &[disabled] {
      opacity: 0.7;
    }

    &:hover,
    &:active,
    &:focus {
      background: #ff7949;
      color: #fff;
    }
    @media screen and (min-width: 800px) {
      border-radius: 40px;
    }
  }
}
