.app__form{
  p.error {
    color: #e64141;
    font-size: 14px;
    padding: 5px 0;
  }

  .form-control.error {
    border: 1px solid #e64141;
  }

  .btn-more {
    display: block;
    margin: 0 auto;
  }
}
