.app__cars {
  &-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh  - 65px);
    position: relative;
  }
  &_carroucel {
    display: block;
  }
}
// .app__content {
//   background: url(~assets/cars/background.jpg) no-repeat center center;
//   background-size: cover;
//   background-attachment: fixed;
//   &.color {
//     filter: grayscale(100%) contrast(200%);
//     mix-blend-mode: screen;
//   }
// }
