@import "../../../../sass/vars";
.app__error-message {
  text-align: center;

  h2 {
    color: #4948ac;
    font-family: $robotoBold;
    font-size: 40px;
  }
  p {
    font-family: $robotoLight;
    font-size: 18px;
  }
}
