.card-car-component {
  //
  padding: 15px 10px 25px;
  @media screen and (min-width: 460px) {
    padding: 15px 15px 25px;
  }
  //
  @media screen and (min-width: 768px) {
    padding: 15px 15px 25px;
  }
  //
  &__body {
    box-shadow: 0 0 5px -2px #ccc;
    border-radius: 20px;
    background: #fff;
    position: relative;
    padding: 25px 0 25px;
    text-align: center;
  }
  &__title {
    color: #313563;
    font-size: 4vw; //15px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
      font-size: 3vw;//30px;
    }
    @media screen and (min-width: 900px) {
      font-size: 2.5vw;
    }
    @media screen and (min-width: 1200px) {
      font-size: 1.5vw;
    }
  }
  &__price {
    border-radius: 40px;
    border: 1px solid #8a95aa;
    color: #8a95aa;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
    padding: 5px 10px;
  }
  &__code {
    color: #313563;
    font-weight: normal;
    font-size: 13px;
    margin-bottom: 0;
    text-align: center;
    strong {
      font-weight: bold;
    }
  }
  &__img {
    img {
      display: block;
      margin: 0 auto;
      width: 65%;
    }
  }
  .btn {
    text-transform: uppercase;
  }
  &__more {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
  }
}
