.app__header {
  // box-shadow: 0 0 5px -2px #ccc;
  background: #f7f7f7;
  display: flex;
  height: 44px;
  justify-content: flex-end;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  &.has-back {
    justify-content: space-between;
  }

  @media screen and (min-width: 992px) {
    .btn-back,
    .app__header_hamburger-btn {
      display: none;
    }
  }

  .btn-back {
    border: none;
    background: none;
    color: #4948ac;
    display: block;
    font-size: 20px;
    height: 44px;
    width: 44px;
  }
}
